<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Designed &amp; Developed by</span>
    </div>
    <div class="bottom">
      <span>Nadun Sudeepa</span>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
      <span>2024</span>
    </div>
  </div>
  <div class="footer__links">
    
    <a href="hvuhijb" target="_blank" title="">
      <span class="text">linkedin</span>
      
    </a>

    <a href="hvuhijb" target="_blank" title="">
      <span class="text">github</span>
      
    </a>
    <a href="hvuhijb" target="_blank" title="">
      <span class="text">facebook</span>
      
    </a>
    <a href="hvuhijb" target="_blank" title="">
      <span class="text">behance</span>
      
    </a>
   
   
  </div>
</footer>
